@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    .nav-item {
        @apply px-4 py-1.5 rounded-full text-white text-sm font-semibold hover:bg-white/10 hover:text-white transition duration-300
    }

    .hero-ring{
        @apply absolute inset-0 border-2 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 rounded-full border-emerald-300/5 shadow-[0_0_80px_inset] shadow-emerald-300/5
    }

    @layer utilities{
        .container{
            @apply lg:max-w-5xl
        }
    }
}

/* Customize the scrollbar */
::-webkit-scrollbar {
    width: 4px;  /* Reduced width of the scrollbar */
  }
  
  ::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.2);  /* Background color of the track */
    border-radius: 4px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.5); /* Scrollbar thumb color (matches the modal) */
    border-radius: 4px;
    border: 2px solid rgba(0, 0, 0, 0.5);  /* Optional border around thumb */
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.8);  /* Darken when hovered */
  }
  
  /* Ensure the modal's scrollable content is properly styled */
  .modal-content {
    max-height: 60vh;  /* Adjust height as needed */
    overflow-y: auto;  /* Allow scrolling */
    padding-right: 8px;  /* Add space to avoid the scrollbar overlapping content */
  }
  